.product_item {
  text-align: center;
  max-width: 220px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}
.product_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.category {
  width: 120px;
  background-color: #f0f0f0; /* Світло-сірий фон */
  color: #333; /* Темно-сірий текст */
  padding: 10px 15px; /* Внутрішні відступи */
  border-radius: 5px; /* Закруглені краї */
  font-weight: bold; /* Жирний текст */
  position: relative; /* Встановлюємо позицію для псевдоелемента */
  z-index: 10; /* Підняти над іншими елементами */
  display: inline-block; /* Дозволяє мати розмір лише під текст */
  margin-right: 120px; /* Зсуває вліво, створюючи 3D ефект */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Тінь для 3D ефекту */
  text-transform: capitalize;
}

.category::before {
  content: ""; /* Псевдоелемент для додаткового ефекту */
  position: absolute; /* Абсолютне позиціювання */
  top: -1px; /* Відстань зверху */
  left: 0; /* Відстань зліва */
  right: 0; /* Відстань справа */
  bottom: 0; /* Відстань знизу */
  z-index: -1; /* Під текстом */
  transform: translate(-5px, -5px); /* Зсуває контур, створюючи 3D ефект */
}

.product_item_img img {
  width: 200px;
  height: 240px;
  padding: 16px;
}

.product_item_info {
  border-top: 1px solid #e0e0e0;
  width: 216px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.brand {
  font-size: 18px;
  margin-bottom: 8px;
}

.brand_name {
  font-weight: bold;
  color: #333;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #222;
}

.price {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.old_price {
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
}

.new_price {
  font-weight: bold;
  font-size: 18px;
  color: #d9534f;
  text-decoration: underline;
}

.discount {
  font-size: 14px;
  color: #5cb85c;
}
