* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #fff;
  color: #000;
  max-width: 1400px;
}

header {
  background-color: #fff;
  max-width: 100%;
}
.header-top {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  font-size: 20px;
  max-width: 100%;
}
.header-top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5%;
  background-color: #c7c7c7;
  width: 100%;
}

.container {
  padding: 20px;
}

a {
  color: #222;
  text-decoration: none;
  margin-right: 20px;
  padding: 3px;
  position: relative;
}

a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background: #fdfdfdf5;
  border-radius: 4px;
}

a:not(:last-of-type)::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #c7c7c7;
}
