.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.svgLoader {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%)
    contrast(100%); /* Чорний колір */
  width: 100px;
  height: 100px;
  font-weight: 900;
}
